@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  @apply w-full h-full;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.-delay-75{
  transition-delay: -0.075s;	
}

.-delay-100{
  transition-delay: -0.100s;	
}

.-delay-150{
  transition-delay: -0.150s;	
}

.-delay-200{
  transition-delay: -0.200s;	
}

.-delay-300{
  transition-delay: -0.300s;	
}

.delay-500{
  transition-delay: 500ms;	
}

.delay-700{
  transition-delay: 700ms;	
}

.delay-1000{
  transition-delay: 1000ms;
}
